*{
  margin: 0%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* custom css */

.searchBox-enter{
  position: fixed;
  margin-top: -5vh;
}
.searchBox-enter-active{
  margin-top: 0vh;
  transition:all 1000ms;
}

.searchBox-enter-done{
  position: fixed;
  margin-top: 0vh;
}

.searchBox-exit{
  position: fixed;
  margin-top: 0vh;
}
.searchBox-exit-active{
  margin-top: -10vh;
  transition: all 500ms;
}
.searchBox-exit-done{
  position: fixed;
  margin-top: -10vh;
}